In [54]:
import pandas as pd

In [55]:
animals = pd.read_csv('data/anage_data.csv', sep=';')

In [58]:
animals.head()

,HAGRID,Kingdom,Phylum,Class,Order,Family,Genus,Species,Common name,Female maturity (days),...,Source,Specimen origin,Sample size,Data quality,IMR (per yr),MRDT (yrs),Metabolic rate (W),Body mass (g),Temperature (K),References
0,3,Animalia,Arthropoda,Branchiopoda,Diplostraca,Daphniidae,Daphnia,pulicaria,Daphnia,NaN,...,NaN,unknown,medium,acceptable,NaN,NaN,NaN,NaN,NaN,"1294,1295,1296"
1,5,Animalia,Arthropoda,Insecta,Diptera,Drosophilidae,Drosophila,melanogaster,Fruit fly,7.0,...,NaN,captivity,large,acceptable,0.05,0.04,NaN,NaN,NaN,"2,20,32,47,53,68,69,240,241,242,243,274,602,98..."
2,6,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Apis,mellifera,Honey bee,NaN,...,812,unknown,medium,acceptable,NaN,NaN,NaN,NaN,NaN,"63,407,408,741,805,806,808,812,815,828,830,831..."
3,8,Animalia,Arthropoda,Insecta,Hymenoptera,Formicidae,Cardiocondyla,obscurior,Cardiocondyla obscurior,NaN,...,1293,captivity,medium,acceptable,NaN,NaN,NaN,NaN,NaN,1293
4,9,Animalia,Arthropoda,Insecta,Hymenoptera,Formicidae,Lasius,niger,Black garden ant,NaN,...,411,unknown,medium,acceptable,NaN,NaN,NaN,NaN,NaN,"411,813,814"

In [61]:
# Only the turtles

animals[animals['Order']== 'Testudines']

,HAGRID,Kingdom,Phylum,Class,Order,Family,Genus,Species,Common name,Female maturity (days),...,Source,Specimen origin,Sample size,Data quality,IMR (per yr),MRDT (yrs),Metabolic rate (W),Body mass (g),Temperature (K),References
3282,3301,Animalia,Chordata,Reptilia,Testudines,Carettochelyidae,Carettochelys,insculpta,Pignose turtle,NaN,...,451,captivity,medium,acceptable,NaN,NaN,NaN,NaN,NaN,451
3283,3302,Animalia,Chordata,Reptilia,Testudines,Chelidae,Chelodina,longicollis,Common snake-necked turtle,NaN,...,1,wild,medium,acceptable,NaN,NaN,NaN,NaN,NaN,1
3284,3303,Animalia,Chordata,Reptilia,Testudines,Chelidae,Chelodina,oblonga,Oblong snakeneck turtle,NaN,...,NaN,unknown,tiny,low,NaN,NaN,NaN,NaN,NaN,451
3285,3304,Animalia,Chordata,Reptilia,Testudines,Chelidae,Chelus,fimbriatus,Mata mata,NaN,...,451,captivity,small,acceptable,NaN,NaN,NaN,NaN,NaN,451
3286,3305,Animalia,Chordata,Reptilia,Testudines,Chelidae,Elseya,dentata,Northern Australian snapping turtle,NaN,...,451,captivity,small,acceptable,NaN,NaN,NaN,NaN,NaN,451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3398,3417,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Apalone,mutica,Smooth softshell turtle,3285.0,...,NaN,unknown,tiny,low,NaN,NaN,NaN,NaN,NaN,528
3399,3418,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Apalone,spinifera,Spiny softshell turtle,3285.0,...,485,captivity,medium,acceptable,NaN,NaN,NaN,NaN,NaN,"485,528"
3400,3419,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Lissemys,punctata,Indian flapshell turtle,NaN,...,451,captivity,medium,acceptable,NaN,NaN,NaN,NaN,NaN,"90,91,92,451"
3401,3420,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Palea,steindachneri,Wattle-necked softshell turtle,NaN,...,599,captivity,small,acceptable,NaN,NaN,NaN,NaN,NaN,599
3402,3421,Animalia,Chordata,Reptilia,Testudines,Trionychidae,Trionyx,triunguis,African softshell turtle,NaN,...,451,captivity,small,acceptable,NaN,NaN,NaN,NaN,NaN,451